@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url(fonts/HelveticaNeue-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'HelveticaNeue-Medium';
  src: url(fonts/HelveticaNeue-Medium.otf) format('opentype');
}

body{
  font-family: 'HelveticaNeue-Medium';
  font-size: 20pt;
  overflow: hidden;
  background: #fff;
  color: #000;
}

.hidden{
  display: none;
}

#background{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

#screen .screen{
  padding: 20px;
}

.title{
  text-transform: uppercase;
}

img.left{
  transform: rotate(180deg);
}

img.up{
  transform: rotate(270deg);
}

img.down{
  transform: rotate(90deg);
}

img.arrow{
  width: 50%;
}

#screen-alt .product-img{
  float: left;
  margin-right: 50px;
}

#screen-alt h1{
  text-transform: uppercase;
}

#screen-alt .logo{
  width: 100px;
}

.title h2{
  margin: 0;
  font-family: 'HelveticaNeue-Bold';
}

#screen .price{
  position: fixed;
  width: 100%;
}

#screen .price .digit{
  font-size: 80pt;
  position: fixed;
  background: #fff;
  height: 300px;
  top: 110px;
  right: 0px;
  padding-right: 20px;
}

#screen .price h1{
  top: 80px;
  font-size: 180pt;
  margin: 0;
  position: fixed;
  right: -50px;
  font-family: 'HelveticaNeue-Bold';
}

#screen .amount{
  font-family: 'HelveticaNeue-Bold';
  font-size: 20pt;
}

#screen .symbols{
  position: fixed;
  bottom: 20px;
  right: 20px;

}

#screen .symbols img{
  width: 100px;
  padding-left: 10px;
}

#screen .barcode{
  position: fixed;
  bottom: 5px;
}
